= form_with(model: @task_form, url: tasks_path)  do |f|
  - if @task_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task_form.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task_form.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :team_id
    = f.select :team_id, current_user.teams.map { |t| [t.name, t.id]  }
  .field
    = f.label :state
    = f.select :state, Task.states.keys.map {|k| [k, k]}
  .field
    = f.label :end_at
    = f.datetime_field :end_at
  .field
    = f.label :begin_at
    = f.datetime_field :begin_at
  .actions
    = f.submit 'Save'
