%h1 #{@task.title}
%p#notice= notice
%p
  %b 担当者
  = @task.user.name
%p
  %b グループ
  = @task.team.name
%p
  %b メンバー
  - @task.team.users.each do |member|
    = member.name
%p
  %b 詳細:
  =simple_format(@task.description)

= link_to 'Back', tasks_path
